:root {
  --cell-size: 25px;
  --divider-color: rgba(0, 0, 0, 0.12);
  --divider-color-inverse: rgba(255, 255, 255, 0.12);
  --area-border-color: rgba(0, 0, 0, 0.54);

  --divider: solid 1px var(--divider-color);
  --divider-inverse: solid 1px var(--divider-color-inverse);

  --sidebar-bg-color: #01579B;
  --sidebar-fg-color: #fff;
  --sidebar-pad: 0.75rem 1.5rem;

  --monospace: 'Fira Code', Menlo, monospace;
  --sans-serif: 'Fira Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--sans-serif);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main-grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.row-hints,
.column-hints {
  display: flex;
}

.row-hints {
  grid-area: d;
  flex-direction: column;
  align-items: flex-end;
}

.column-hints {
  align-items: center;
  grid-area: b;
}

.row-hint,
.column-hint {
  display: flex;
}

.row-hint {
  flex: 1;
  width: 100%;
  height: var(--cell-size);
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  border-top: solid 1px var(--divider-color);
  padding-right: 1rem;
}

/* .row-hint:first-child {
  border-top: 0;
} */

.column-hint {
  width: var(--cell-size);
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border-left: solid 1px var(--divider-color);
  padding-bottom: 1rem;
}

/* .column-hint:first-child {
  border-left: 0;
} */

.row-hint-number,
.column-hint-number {
  font-family: var(--monospace);
  font-size: 0.9rem;
  font-weight: bold;
}

.row-hint-number {
  width: 0.8rem;
  text-align: right;
}

.filled,
.empty {
  text-indent: -9999px;
}

.null {
  border: 0;
  visibility: hidden;
}

.game-area {
  grid-area: e;
  border-top: solid 1px var(--area-border-color);
  border-left: solid 1px var(--area-border-color);
  display: grid;
}

.game-area-cell {
  border-color: rgba(0, 0, 0, 0.54);
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.game-area-cell.filled {
  background-color: rgba(0, 0, 0, 0.4);
}

.btn {
  background: transparent;
  border: solid 1px #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-family: var(--sans-serif);
  font-weight: 200;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: var(--sidebar-bg-color);
  font-weight: bold;
}

.btn-group .btn {
  border-radius: 0;
}

.btn-group .btn:not(:first-child) {
  border-left: 0;
}

.btn-group .btn:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.btn-group .btn:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.alert {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: dashed 1px #00C853;
  background-color: #00E676;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 100rem;
}
